Source: python-xstatic-angular-cookies
Section: python
Priority: optional
Maintainer: PKG OpenStack <openstack-devel@lists.alioth.debian.org>
Uploaders: Thomas Goirand <zigo@debian.org>,
           Ivan Udovichenko <iudovichenko@mirantis.com>,
Build-Depends: debhelper (>= 9),
               python-all (>= 2.6.6-3~),
               python-setuptools,
               python3-all,
               python3-setuptools
Build-Conflicts: python-xstatic, python3-xstatic
Standards-Version: 3.9.6
Vcs-Browser: http://anonscm.debian.org/gitweb/?p=openstack/python-xstatic-angular-cookies.git
Vcs-Git: git://anonscm.debian.org/openstack/python-xstatic-angular-cookies.git
Homepage: https://github.com/stackforge/xstatic-angular-cookies

Package: python-xstatic-angular-cookies
Architecture: all
Depends: libjs-angularjs (>= 1.2.24),
         python-xstatic,
         python-xstatic-angular,
         ${misc:Depends},
         ${python:Depends}
Description: Angular JS Cookies XStatic support - Python 2.x
 XStatic is a Python web development tool for handling required static data
 files from external projects, such as CSS, images, and JavaScript. It provides
 a lightweight infrastructure to manage them via Python modules that your app
 can depend on in a portable, virtualenv-friendly way instead of using embedded
 copies.
 .
 This package provides Angular JS cookies support as a Python 2.x module. See
 the description of the libjs-angularjs package.

Package: python3-xstatic-angular-cookies
Architecture: all
Depends: libjs-angularjs (>= 1.2.24),
         python3-xstatic,
         python3-xstatic-angular,
         ${misc:Depends},
         ${python3:Depends}
Description: Angular JS Cookies XStatic support - Python 3.x
 XStatic is a Python web development tool for handling required static data
 files from external projects, such as CSS, images, and JavaScript. It provides
 a lightweight infrastructure to manage them via Python modules that your app
 can depend on in a portable, virtualenv-friendly way instead of using embedded
 copies.
 .
 This package provides Angular JS cookies support as a Python 3.x module.
